/*variables*/
@use "./variables" as*;

.introduccion{
    p{
        font-size: 35px;
        text-align: center;
    }
}

.contenedor-grid{
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "foto1 texto1 texto1" 
    "foto1 foto2 foto2"
    "texto2 foto3 texto3";
    grid-template-rows: auto 400px 400px auto ; /* 70px 200px 400px 400px */
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center; /*alinea el contenido verticalmente*/
    justify-items:center; /*alinea el contenido horizontalmente*/
    gap: 16px;
    padding: 8px;
    margin: 0 auto;
    text-align: center;

    .titulo{
        grid-area: titulo;
    }
    .texto1{
        grid-area: texto1;
    }
    .texto2{
        grid-area: texto2;
    }
    .texto3{
        grid-area: texto3;
    }
    .foto1{
        grid-area: foto1;
        align-self: stretch;
        object-fit: cover;
        object-position: left center;
    }
    .foto2{
        grid-area: foto2;
        object-position: center 15%;
        aspect-ratio: 26 / 9;
        align-self: end;
    }
    .foto3{
        grid-area: foto3;
        object-position: center 35%;
    }

    &.clases{
        p{
            font-size: 30px;
            color: rgb(0, 0, 0);
            line-height: 1.5;
            margin: 0; 
        }
        .texto1 p{
            font-size: 35px;
        }
        img{
            @include tamano(100%, auto);
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }
}

section{
    blockquote{
        text-align:start;
        padding: 10px;
        font-size: 20px;
    }
}
